---
import Layout from "../layout/Layout.astro";
---

<Layout title="About Anime Paradise">
  <section id="about">
    <div class="about-content">
      <h2>Welcome to Anime Paradise</h2>
      <p>
        If you're new to the world of anime or seeking information about this
        fascinating genre, you've come to the right place. Anime Paradise is
        your go-to destination for all things anime.
      </p>
      <p>
        Our mission is to provide a welcoming and informative platform for
        beginners and enthusiasts alike. We offer a wide range of resources,
        including anime reviews, the latest news and updates, and curated lists
        of must-watch series.
      </p>
      <p>
        Whether you're looking for recommendations on where to start, want to
        stay updated with the latest anime trends, or simply want to explore the
        diverse world of anime, Anime Paradise is here to guide you on your
        journey.
      </p>
      <p>
        Join us as we dive into the captivating stories, unique characters, and
        breathtaking animation that define anime. Let's embark on this anime
        adventure together!
      </p>
    </div>
  </section>
</Layout>

<style>
  #about {
    margin-top: auto;
    text-align: center;
    color: #fff;
  }

  .about-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #222;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

  .about-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #00b2f8;
  }

  .about-content p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 768px) {
    #about {
      padding-top: 3rem;
    }

    .about-content {
      max-width: 100%;
    }
  }
</style>
