---
import Layout from "../layout/Layout.astro"
---
<Layout title="Privacy Policy Of Anime Paradise From Infinite Programmer">
    <div class="container">
        <h1>Privacy Policy</h1>

        <p>This Privacy Policy explains how Anime Paradise handles user data when you visit our
            website.</p>

        <h2>Data Collection</h2>

        <p>We do not collect any personal information from our visitors. We do not engage in activities subject to GDPR
            or CPRA compliance.</p>

        <h2>Cookies</h2>

        <p>We may use cookies for tracking website analytics. These cookies do not contain personal information and are
            used solely for analytical purposes.</p>

        <h2>Changes to This Policy</h2>

        <p>We may update this Privacy Policy to reflect changes in our practices. We will notify you of any material
            changes by posting the updated policy on our website.</p>

        <h2>Contact Us</h2>

        <p>If you have any questions or concerns about this Privacy Policy, please <a href="contact.html">contact us</a>.
        </p>

        <p>This Privacy Policy was last updated on 04/10/2023.</p>
    </div>
</Layout>
<style>
    body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #333; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    color: #00b2f8; 
}

h2 {
    font-size: 20px;
    color: #fff; 
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
}

a {
    color: #00b2f8;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
        margin-top: 15px;
    }

    p {
        font-size: 14px;
        margin-top: 8px;
    }
}
</style>
