<footer>
  <center>
  <div class="footer-content">
    <div class="text-group">
      <a href="/privacy" class="privacy-link">Privacy Policy</a>
    </div>
    <div class="text-group">
      <span class="copyright-text">&copy; 2023 Anime Paradise</span>
    </div>
    <div class="text-group">
      <strong><span class="designed-text">Designed and Developed by Infinite Programmer & Hamza Rashid</span></strong>
    </div>
  </div>
</center>
</footer>