<footer>
  <span class="foot">&copy; 2023 Anime Paradise</span>
  <strong><span class="foot">Desgin and Developed by Infinite Programmer & Hamaza Rashid</span></strong>
  <a href="/privacy">Privacy Policy</a>
</footer>
